#container{
    height: auto;
    position: absolute;
    width: 450px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly ; 
    margin-left: 500px;
    margin-top: 55px;
}

#container div{
    background-color: whitesmoke;
    height: 50px;
    width: 50px;
    padding-bottom: 2px;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 55px; 
    font-size: 25px; 
    color: green;
    
}
input{
    position: relative;
    bottom:4px;
    background-color: whitesmoke;
    border: none;
    margin: 0;
    padding-bottom: 0;
    font-size: 22px; 
    text-align: center;
    font-family: sans-serif;
    border: 0 none;
    color:black;
    height: 40px;
    width: 40px;

}

#sudoku{
    display:block;
    color:black;
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    position:relative;
    margin-top: 10px;
    margin-bottom: 0;
    background-color:whitesmoke;

}

#buttons{
    position: relative;
    height:600px;
    width:230px;
    margin-top: 0px;
    margin-left: 30px;
    background-color:whitesmoke;
}
button{
    position: absolute;
    left: 30px;
    width: 160px;
    cursor: pointer;
    

  }

  #generate-sudoku{
    top:140px;
    margin:auto;
    display:block;
    background-color:#A0A0A0;
    color: white;
}
#check{
    top:240px;
    margin:auto;
    display:block;
    background-color:#A0A0A0;
    color: white;
}
#restart{
    top:340px;
    margin:auto;
    display:block;
    background-color:#A0A0A0;
    color: white;
}


#solve{
    top:440px;
    margin:auto;
    display:block;
    background-color:#A0A0A0;
    color: white;

}

.clock{
    position: relative;
    top:-550px;
    left:1150px;
    height: 140px;
    width: 230px;
}
#display{
    position: absolute;
    top:172px;
    left: 1194px;
    font-size: 190%;
    font-family:'digital-clock-font';
}


input:focus{
    border: 0px none;
    box-shadow: 2px 1px 10px #888888;
}

input:hover{
    background-color:lightskyblue;
}


#container div:hover{
    background-color: lightskyblue;
}

.lsb{
    border-left: black 1.5px solid;
   box-shadow: 1.5px 1px 10px #888888;
}

.bsb{
    border-bottom:  black 1.5px solid;
   box-shadow: 1.5px 1px 10px #888888; 
}

.rsb{
    border-right: black 1.5px solid;
    box-shadow: 1.5px 1px 10px #888888; 
}

.tsb{
    border-top: black 1.5px solid;
   box-shadow: 1.5px 1px 10px #888888;
}


.ldb{
   /* border-left: black 0.6px dashed;*/
    box-shadow: 1px 1px 10px #888888;
}

.bdb{
    /*border-bottom: black 0.6px dashed;*/
    box-shadow: 1px 1px 10px #888888;
}

.rdb{
   /* border-right: black 0.6px dashed;*/
    box-shadow: 1px 1px 10px #888888;
}

.tdb{
   /* border-top: black 0.6px dashed;*/
    box-shadow: 1px 1px 10px #888888;
}


.modal {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    right: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
.btn-secondary{
    position: relative;
    left: 250px;
}